.top-nav {
    /* height: 4rem; */

}
.top-nav a {
    margin-top: 0.25rem;
}

@media only screen and (min-width: 992px) {
    .top-nav {
        height: 8.375rem;
    }
    .top-nav a {
        margin-top: 0;
      }
    .logo>img, .nav-text {
        margin-top: 3.19rem;
    }
    .nav-text {
        padding-top: .8rem;
    }
    .navbar {
        --bs-navbar-padding-y: 0;
    }
    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }
    .navigation-area p {
        padding-top: 0.5rem;
    }
    .navigation-area > p > span {
        margin-left: 11px;
    }
}